<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread{20}] %logger{60} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="zio-slf4j-logger" level="debug"/>
  <logger name="com.channelpilot.di.cassandra" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>